{% extends 'base.html' %}

{% block content %}
    <h1>Posts Tagged with "{{ tag }}"</h1>
    
    <ul>
        {% if posts %}
            {% for post in posts %}
                <li>
                    <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> - {{ post.content|slice:":100" }}...
                </li>
            {% endfor %}
        {% else %}
            <li>No posts found for this tag.</li>
        {% endif %}
    </ul>
    
    <a href="{% url 'search_posts' %}">Back to Search</a>
{% endblock %}
